# {{ ansible_managed }}
[user]
	name = {{ git_user_name }}
	email = {{ git_user_email }}

[init]
	defaultBranch = {{ git_default_branch }}

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = simple

[fetch]
	prune = true

[core]
	editor = micro
	autocrlf = input
	pager = delta

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[merge]
	conflictstyle = diff3
